
alibabacloud_tea_xml==0.0.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
attrs==24.2.0
certifi==2024.6.2
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
comtypes==1.4.6
cryptography==43.0.0
Django==5.0.4
django-cors-headers==4.3.1
django-crontab==0.7.1
dnspython==2.6.1
email_validator==2.2.0
et-xmlfile==1.1.0
fastapi==0.111.0
fastapi-cli==0.0.4
frozenlist==1.4.1
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
idna==3.7
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mssql-django==1.5
multidict==6.0.5
mysql-connector-python==8.4.0
mysqlclient==2.2.4
numpy==2.0.0
openpyxl==3.1.4
orjson==3.10.5
packaging==24.0
pandas==2.2.2
pefile==2023.2.7
pycparser==2.22
pydantic==2.8.0
pydantic_core==2.20.0
Pygments==2.18.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pyodbc==5.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pythonnet==3.0.3
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
requests==2.32.3
rich==13.7.1
